name: Deploy

on:
  push:
    branches: [production]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: dev
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /opt/projects/enc-bot-tg
            git pull origin production
            npm install
            npm run build
            /home/dev/.npm-global/bin/pm2 restart enc-bot-tg